<header>
    <h1>Optica</h1>
</header>
<article>
    <nav class="navbar">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active-link">Inicio</a></li>
        <li><a routerLink="/cliente-registro">Registrar Cliente</a></li>
        <li><a routerLink="/consulta-registro" routerLinkActive="active-link">Registrar Consulta</a></li>
        <li><a routerLink="/formula-registro" routerLinkActive="active-link">Registrar Fórmula</a></li>
        <li><a routerLink="/venta-registro" routerLinkActive="active-link">Registrar Venta</a></li>
        <li><a routerLink="/buscar-cliente" routerLinkActive="active-link">Buscar Cliente</a></li>
        
      </ul>
    </nav>
  </article>
